:root {
    /* Variables */
    --white: #FFFFFF;
    --black: #000000;
    --gray: #c4c4c4;

    --primary_hover: #FFC107;
    --primary_text: #0524ad;
    --primary_background: #faeafa;

    --secondary_background: #33bff7;
    --secondary_text: #ff242f;

}

/* Condiciones globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

.services,.main-nav,.form{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* *selector, aplicar a todos los elementos box model */

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-color: gray;
    background-image: linear-gradient(to top, var(--gray) 0%, var(--white) 70%);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

.button {
    background-color: #33bff7;
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.button:hover {
    cursor: pointer;
}

@media (min-width: 480px) {
    .button {
        width: auto
    }
}

.shadow {
    box-shadow: 10px 10px 20px 5px rgba(168, 168, 168, 0.5);
    background-color: var(--white);
}

/* Utilities */

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.right-align {
    justify-content: flex-end;
}



/* Titulo*/
h1.title {
    color: var(--primary_text);
}

h1.title span {
    font-size: 2rem;
}

/* Barra de navegaciones */
.main-nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* Vertical*/
}

.main-nav a {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.main-nav a:hover {
    background-color: var(--primary_hover);
    color: var(--black);
    /* padding: 1rem; crece mas lol*/
}

.nav-bg {
    background-color: var(--secondary_background);
    text-decoration: none;
}

.navcontainer {
    max-width: 120rem;
    /* no forzar el tamanio del nav*/
    margin: 0 auto;
}

span {
    color: var(--secondary_color);
}



@media (min-width:480px) {


    /* Para telefonos */
}

@media (min-width:760px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
        /* Horizontal*/
    }

    /* para tablets */
}

/* @media (min-width: 1140px) {
     

    laptops
} 
@media (min-width: 1400px) {
    


    /laptop grande
}  */

/* Imagen principal */
.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    /* anterior*/
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2.title {
    background-color: transparent;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--white);
}

.contenido-hero .location {
    display: flex;
    align-items: flex-end;
}

.maincontainer {
    max-width: 120rem;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 2rem;
}

/* Servicios*/

@media (min-width: 768px) {
    .services {
        display: grid;
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; */
        grid: 100% / repeat(3, 1fr);
        column-gap: 0.5%;
    }
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service p {
    line-height: 2;
    text-align: center;

}

.service h3 {
    color: var(--secondary_text);
    font-weight: bold;
}

.icons {
    background-color: var(--primary_hover);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;

    padding: 1rem 3rem;
    margin: 0, auto;


    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/* Formulario */

.form {
    background-color: gray;
    width: min(60rem, 100%);
    /* Utilizar valor pequeno */
    margin: 0% auto;
    /* Elemento formulario sin padre display flex */
    padding: 2rem;
    border-radius: 1rem;
}

.form fieldset {
    border: none;
}

.form legend {
    color: var(--primary_hover);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;

}



@media (min-width: 768px) {
    .contain-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;

    }

    .field:nth-child(3),
    .field:nth-child(4) {
        grid-column: 1 / 3;
    }

}

.field {
    margin-bottom: 1rem;

}

.field label {
    color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    display: block;
}

.field textarea {
    height: 20rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
}

.footer {
    text-align: center;
}